<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>
      
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render partial: "prototypes/error_messages", locals:{model: @user} %>
        
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>

      <%if @sns_id.present? %>
        <%= hidden_field_tag :sns_auth, true %>
      <% else %>
        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
        </div>
      <% end %>
        <div class="field">
          <%= f.label :name, "ユーザー名" %><br />
          <%= f.text_field :name, id:"user_name" %>
        </div>

        <div class="field">
          <%= f.label :profile, "プロフィール" %><br />
          <%= f.text_area :profile, class: :form__text, id:"user_profile" %>
        </div>

        <div class="field">
          <%= f.label :affiliation, "所属" %><br />
          <%= f.text_area :affiliation, class: :form__text, id:"user_occupation" %>
        </div>

        <div class="field">
          <%= f.label :position, "役職" %><br />
          <%= f.text_area :position, class: :form__text, id:"user_position" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
        <%= link_to "Facebookで登録", user_facebook_omniauth_authorize_path, method: :post, class: :sns_link %>
        <%= link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path, method: :post, class: :sns_link %>
      <% end %>
    </div>
  </div>
</div>