<div class="card">
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype.id) %>
  <div class="card__body">
  <div class="flex_card">
    <%= link_to prototype.name, root_path, class: :card__title%> 
    <div class="card__assessment">
    <% if prototype.assessment_ave.nil?%>
    <%= "平均点: -点" %>
    <% else %>
      <%= "平均点: #{prototype.assessment_ave}点" %>
    <% end %>
    </div>
    </div>
    <p class="card__summary">
      <%= prototype.catch_copy %>
    </p>
    <%= link_to "by #{prototype.user.name}", user_path(prototype.user.id), class: :card__user %>
  </div>
</div>