<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザーログイン</h2>
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <%= render partial: "prototypes/error_messages", locals: {model: @user} %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: :form__btn %>
        </div>
        <div class="login_facebook">
          <i class="fab fa-facebook-square facebook_logo"></i>
          <%= link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post, class: :sns_link %>
        </div>
        <div class="login_google">
          <i class="fab fa-google google_logo"></i>
          <%= link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post, class: :sns_link %>
        </div>
      <% end %>
    </div>
  </div>
</div>